ul{
    margin: 0px 5px;
    text-align: left;
    padding-left: 10px;
}
input{
    padding-left: 10px;
    width: 450PX;
    height: 35px;
    font-size: 15px;
    font-weight:bold;
    color: black;
    background-color: transparent;
    margin: 20px 0px;
    border-radius: 10px;
}
::placeholder{
    color:grey ;
}
/*class=" text-uppercase text-center " */
tr th{
cursor: pointer;
text-transform: uppercase;
}